*{
    box-sizing: border-box;
}

body {
    background-image: url(../img/21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    min-width: 100vw;
    margin: -16px 0px 0px 0px;

}
.presentacion{
    display: flex;
}

.imagenfondo {box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.65);
    margin: -16px 0px 0px 0px;
    width: 100vw;
} 

.titulo{
    color: beige;
    font-size: 60px;
    padding: 0px 0px 0px 20px;
    font-family: 'Bebas Neue', "cursive"; 
    margin-top: -0%;
    margin-bottom: -2%;
}
.sinopsis {
    color: blanchedalmond;
    font-size: 18px;
    padding: 3px 0px 0px 20px;
    font-family: 'Rubik', sans-serif; 
}
.reloj{
    color: aliceblue;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.duracion{
  padding: 0px 0px 0px 20px;
  font-family: 'Rubik', sans-serif;
}

.Favorito{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center; 
    margin-top: -4%;
}
.Namefavorito{
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.Estreno{
    color:aliceblue; 
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
    margin-left: 20px;
}
h2 {
    color: white;  
    font-size: 18px;
    font-style: italic;
    margin-bottom: -15px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h1{
    font-size: 25px;
    color: aliceblue;
    padding: 0px 0px 0px 20px;
    font-family: 'Rubik', sans-serif;
}

.reparto{
    display: flex; 
    justify-content: space-around 
   
}
.item1{
    flex-wrap: wrap;
}
.tamaño{
   width: 175px;
   border-radius:9%;
   box-shadow: -15px -15px 15px 1px rgba(0,0,0,0.65);
}

.namepersonaje{
    color: rgb(80, 79, 79);
    font-size: 15px;
    border: rgb(158, 158, 158);
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.sugerenciasFlix{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 4%;
    font-family: 'Rubik', sans-serif;
    
}
.Sugerencias1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.cartelera{
    width: 260px;
    height: 160px;
    border-radius:5%;
}


@media (max-width: 1024px) {
    .duracion{
 font-size: 13px;}

 .Etrailer{
    margin-top: -29%;
    margin-left: 19%;
 }
 .item1{
    justify-content: space-between;
 }
 .reparto{
    flex-wrap: wrap;
}
 }


@media (max-width: 650px) {
    .Etrailer{
        margin-top: -29%;
        margin-left: 19%;
         }
        
    .INFORMACION1{
        font-size: 40PX;
    }
    .reparto{
        display: flex;
        flex-wrap: wrap;
    
    }
    .Video{
        width: 300px;
        height: 25git0px;
     }

} 
