*{
    box-sizing: border-box;
}

body {
    background-image: url(../img/21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    min-width: 100vw;
    margin: -16px 0px 0px 0px;

}
.sectionFondo{
    display: flex;
    background-image: url("../img/FondoDetallesSeries.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
    box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.65);

    }
.starwarslogo{
    align-self: flex-end;
    width: 400px;
    margin: -20px;
}
.textointerno{
    color: black;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.textointernoflex {
   margin-left: 38%;
}
.titulo{
    color: beige;
    font-size: 60px;
    padding: 0px 0px 0px 20px;
    font-family: 'Bebas Neue', "cursive"; 
   margin-top: -0%;
   margin-bottom: -2%;
}
.sinopsis {
    color: blanchedalmond;
    font-size: 18px;
    padding: 3px 0px 0px 20px;
    font-family: 'Rubik', sans-serif; 
}
.reloj{
    color: aliceblue;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.duracion{
  padding: 0px 0px 0px 20px;
  font-family: 'Rubik', sans-serif;
}
.calificacion{
    font-size: 18px;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px; 
    font-family: 'Rubik', sans-serif;
    margin-top: -3%;
}

.NameCalificacion{
    margin-bottom: 10px;
}
.Favorito{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center; 
    margin-top: -4%;
}
.Namefavorito{
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.Estreno{
    color:aliceblue; 
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
    margin-left: 20px;
}
h2 {
    color: white;  
    font-size: 18px;
    font-style: italic;
    margin-bottom: -15px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h1{
    font-size: 25px;
    color: aliceblue;
    padding: 0px 0px 0px 20px;
    font-family: 'Rubik', sans-serif;
}
.Video{
    margin-left: 38%;
    margin-top: -20%;
    
}
.reparto{
    display: flex; 
    justify-content: space-around 
}
.tamaño{
   width: 175px;
   border-radius:9%;
   box-shadow: -15px -15px 15px 1px rgba(0,0,0,0.65);
}
.namepersonaje{
    color: rgb(80, 79, 79);
    font-size: 15px;
    border: rgb(158, 158, 158);
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.director{
    display: flex;
}
.fotodirector{
    width: 180px;
    height: 196px; 
    border-radius: 7%;
}
.cosas{
    align-items: center;
}
.biografia{
    color: aliceblue;
    font-size: 15px;
    padding: 15px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}
.sugerenciasFlix{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 4%;
    font-family: 'Rubik', sans-serif;
}
.Sugerencias1{
    display: flex;
    justify-content: space-around
}

.cartelera{
    width: 260px;
    height: 160px;
    border-radius:5%;
}

@media (max-width: 1024px) {
    .sectionFondo{
        width: 3900px;
    }

} 
@media (max-width: 650px) {
    .sectionFondo{
        width: 1000px;
    }
    .textointerno{
        font-size: 30px;
        margin-left: -24%;
    }
    .INFORMACION1{
        font-size: 40PX;
    }
} 
