*{
    box-sizing: border-box;
}

body {
    background-color: black;
}
.sectionFondo{
    background-image: url("../img/FondoDetallesPeliculas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    }
.starwarslogo{
    display: flex;
    align-items: flex-end;
    width: 70%;
}

.titulo{
    color: beige;
    font-size: 35px;
}
.sinopsis {
    color: blanchedalmond;
    font-size: 18px;
}
.reloj{
    color: aliceblue;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.duracion{
  margin-right : 3%;
}
.calificacion{
   font-size: 17px;
   color: aliceblue;
   display: flex;
   align-items: center; 
   
}
.NameCalificacion{
    margin-bottom: 10px;
}

h2 {
    color: white; 
    font-family: 'Rajdhani', sans-serif; 
    font-size: 20px;
    font-style: italic;
    margin-left: 10px;
}
h1{
    font-size: 25px;
    color: aliceblue;
}
.reparto{
    display: flex; 
    justify-content: space-around 
}
.tamaño{
   width: 160px;
   height: 200px;
}
.namepersonaje{
    color: rgb(128, 128, 128);
    font-size: 15 px;
}

.director{
    display: flex;
    align-items: center;
}
.biografia{
    color: aliceblue;
    font-size: 15px;
    display: inline-block; 
    padding: 15px;
}
.infor{
    color: aliceblue; 
    font-size: 15px;
    display: flex;
    align-items: center;
}