*{
    box-sizing: border-box;
}

body{
    margin: -16px 0px 0px 0px;
    padding: 0;
    min-width: 100vw;
    background-image: url(../img/17564656_SL_042620_30310_19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}