*{
    box-sizing: border-box;
}

body{
    margin: -16px 0px 0px 0px;
    padding: 0;
    min-width: 100vw;
    background-image: url(../img/17564656_SL_042620_30310_19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.peliculasyseries{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100vw;
}

h2{
    cursor: pointer;
    margin: 0;
    padding: 50px 0px 25px 10px;
    font-family: 'Balthazar', serif;
    font-size: 35px;
}