*{
    box-sizing: border-box;
}

.estructura {
    height: 8.75%;
    background-color:rgba(30, 39, 53, 0.95);
    
}

.logo {
    height: 55px;

}

.contenedorlogo a{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.navegador  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: solid rgb(255, 255, 255) 2px;
    padding: 5px 15px;
}

.inicio {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Balthazar', serif;
    align-self: center;
    text-decoration: none;
    list-style-type: none;

}

form {
    display: flex;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(25, 31, 40, 0.9);
    margin: 100px 0px 0px 0px;
    padding: 50px;
    font-family: 'Balthazar', serif;
    font-size: 16px;
}

.themovie{
    width: 15%;
    padding-top: 25px;
}
@media (max-width:1024px) {

    .estructura {
        height:6.25%;
    }

    .navegador  {
        border: solid rgb(255, 255, 255) 1,5px;
        padding: 5px 10px;
    }
    .logo {
        height: 30px;
    }
    .inicio {
        font-size: 14px;
    }

    footer{
        margin: 50px 0px 0px 0px;
        padding: 25px;
        font-size: 12.5px;    
    }        
}

@media (max-width:650px) {

    .estructura {
        height:5%;
    }

    .navegador  {
        border: solid rgb(255, 255, 255) 1px;
        padding: 5px 5px;
    }

    .logo {
        height: 20px;
    }
    .inicio {
        font-size: 8px;
    }

    footer{
        margin: 30px 0px 0px 0px;
        padding: 10px;
        font-size: 8px; 
           
    }  

}