*{
    box-sizing: border-box;
}


.estructura {
    height: 8.75vh;
    background-color: rgb(39, 39, 39); 
}

.logo {
    height: 55px;

}

.contenedorlogo a{display: flex;
    align-items: center;
    justify-content: center ;
}

.navegador  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: solid wheat 1.5px;
    padding: 5px 15px;
}

.inicio {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Balthazar', serif;
    align-self: center;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: solid rgb(255, 255, 255) 2px;
}

form {
    display: flex;
}
