*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    margin: -16px 0px 0px 0px;
    padding: 0;
    min-width: 100vw;
}

.peliculasyseries{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100vw;
    border: solid green 3px;
    
}

.item {
    margin: 0px 50px 50px 35px;
    padding: 17.5px;
    background-color:rgb(75, 13, 13);
    height: 300px;
    width: 200px;
    border: solid green 3px;
}

h2{
    margin: 0px 15px;
    padding: 50px 0px 20px 0px;
    font-family: 'Balthazar', serif;
    font-size: 35px;
    border: solid green 3px;
}

h3{
    text-align:center;
    width: 200px;
}

.nombres {
    font-family: 'Bebas Neue', cursive;
    color: black;
    text-decoration: none;
    font-size: 30px;  
    border: solid green 3px;
}

.imagen {
    height: 300px;
    width: 200px;
}

.imagenfondo {
    width: 100vw;
}

.textointerno{
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', cursive;
    color:aliceblue;
    font-size: 35px;
    text-decoration:overline
}

footer{width: 100vw;
    justify-content: center;
align-items: center;}