body{background-color: brown;
}

.peliculasyseries{display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center
}

.item {padding: 30px;
}

h2{padding:15px;
}

h3{text-align: center;
}

.imagen {height: 300px;
    width: 200px;
}