body{background-color: brown;

}

.peliculasyseries{display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center
}

.item {margin: 0px 15px 50px 15px;
    padding: 15px;
    background-color:rgb(75, 13, 13);
    height: 300px;
    width: 200px;
}

h2{margin: 0px 15px;
    padding: 75px 0px 20px 0px;
    font-family: 'Balthazar', serif;
    font-size: 35px;
}

h3{text-align:center;
    width: 200px;
}

.nombres {font-family: 'Bebas Neue', cursive;
    color: black;
    text-decoration: none;
    font-size: 30px;
     
}

.imagen {height: 300px;
    width: 200px;
}

.imagenfondo {width: 1424px;
}

.textointerno{
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', cursive;
    color:aliceblue;
    font-size: 35px;
    text-decoration:overline
}