*{
    box-sizing: border-box;

}

body{
    margin: -16px 0px 0px 0px;
    padding: 0;
    min-width: 100vw;
    background-image: url(../img/17564656_SL_042620_30310_19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.titulocategorias{
    font-family: 'Bebas Neue', cursive;
    color: black;
    text-decoration: none;
    font-size: 30px;  
    text-align:center;
    margin: 0;

}

.busqueda{
    width: 40vw;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100vw;
    list-style-type: none;
}

.titulobusqueda{
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-family: 'Balthazar', serif;
    padding: 50px 0px 25px 10px;


}
.imagen {
    width: 230px;
    height: 320px;
    box-shadow: -15px -15px 15px 1px rgba(0,0,0,0.65);
    
}
a{
    text-decoration: none, 
}

/* loading */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fcf;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(17, 0, 26, 0.493);
}
.hidden{
  overflow: hidden;
}
  
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 1024px) {

    h2{ 
        margin: 0;
        padding: 25px 0px 25px 10px;
        font-size: 25px;
        text-decoration: none,
    }
    
    .tituloresultados {
        font-size: 25px;  
        text-decoration: none, 

    }
    .imagen{
        width: 40%;
        height: 60%;
    }
    }
    
    @media (max-width: 650px) {
    
    h2{
        margin: 0;
        padding: 25px 0px 25px 10px;
        font-size: 20px;
        }
        
    .tituloresultados{
        font-size: 15px;  
        text-decoration: none,
        } 
        .imagen{
            width: 20%;
            height: 40%;
        }
    } 