*{
    box-sizing: border-box;

}

body{
    margin: -16px 0px 0px 0px;
    padding: 0;
    min-width: 100vw;
    background-image: url(../img/background\ naranja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.BusquedaPeliculas{
    width: 40px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100vw;
}

.BusquedaSeries{
    width: 40px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100vw;
    list-style-type: none;
}

.tituloresultados{
    text-decoration: none; 
    font-size: 25px;
    color: black;

}
.Titulo-busqueda{
    font-size:40px; 
    margin: 0;
    padding: 50px 0px 25px 10px;
    font-family: 'Balthazar', serif;
}

.imagen {
    width: 230px;
    height: 320px;
    box-shadow: -15px -15px 15px 1px rgba(0,0,0,0.65);
}
.caja1{
 background-color: rgba(248, 186, 94, 0.26);
}
@media (max-width: 1024px) {

    h2{ 
        margin: 0;
        padding: 25px 0px 25px 10px;
        font-size: 25px;
        text-decoration: none,
    }
    
    .tituloresultados {
        font-size: 25px;  
        text-decoration: none, 

    }
    .imagen{
        width: 40%;
        height: 60%;
    }
    }
    
    @media (max-width: 650px) {
    
    h2{
        margin: 0;
        padding: 25px 0px 25px 10px;
        font-size: 20px;
        }
        
    .tituloresultados{
        font-size: 15px;  
        text-decoration: none,
        } 
        .imagen{
            width: 20%;
            height: 40%;
        }
    } 